Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
configure
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
depcomp
install-sh
missing
src/config.h.in
src/Makefine.in
src/duck-cli/Makefile.in
src/duck-server/Makefile.in
src/stamp-h1
