.ccls-cache
aclocal.m4
autom4te.cache
build
compile
configure
configure.ac~
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
depcomp
install-sh
m4
Makefile
Makefile.in
missing
src/config.h.in
src/config.h.in~
src/Makefine.in
src/duck-cli/Makefile.in
src/duck-server/Makefile.in
src/stamp-h1
